.RightSide{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    gap: 2rem;
}
.navIcons{
    margin-top: 1rem;
    display: flex;
    gap:3.8rem;
    /* justify-content: space-between; */
}
.navIcons>img{
    width: 2rem;
    height: 2rem;
}

.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}

.r-button{
    height: 2.3rem;
    width: 70%;
    align-self: center;
}